<p>
  <strong>Commenter:</strong>
  <%= podcomment.commenter %>
</p>

<p>
  <strong>Comment:</strong>
  <%= podcomment.body %>
</p>

<p>
  <%= link_to 'Destroy Comment', [podcomment.podcast, podcomment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>
