<% commentable.comments.each do |comment| %>
  <%= comment.body %>
<% end %>

<p>
  <%#= link_to 'Destroy Comment', [comment.essay, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>
