
<div class="home-callout">
  <div class="logos">
    <%= link_to root_path, class: 'navlinks' do %>
      <img src="https://i.imgur.com/TtTQgbx.png" alt="mainlogo" class="mainlogo" id="logo">
    <% end %>
    <br>
    <h1 class="text-center">The Periculum</h1>
  </div>
</div>
