<div class="demo-main mdl-layout__content">
  <div class="demo-container mdl-grid">
    <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
    <div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
      <h1>About</h1>
      <h5>Who</h5>
      <p>Bardia Pourvakil. A 22 year old from Toronto, Canada. Autodidact and aspiring to be more erudite.</p>
      <p>Here's a picture of me:</p>
      <% image_tag %>
      <p>What I'm fascinated by right now:</p>
        <ul>
          <li>Philosophy</li>
          <li>Evolution</li>
          <li>Complex Systems</li>
          <li>Metalearning</li>
          <li>Blockchain</li>
          <li>Augmented Reality</li>
          <li>Machine Learning</li>
        </ul>
      <h5>What</h5>
      <p>I hope for The Periculum to be a platform where learners of all levels come to enrich their brains with knowledge, skills, and tools for learning more effectively and efficiently.</p>
      <p>This site will evolve over time but for now you can expect bi-weekly podcasts, weekly essays, a monthly book club and courses.</p>
      <p>Please add any suggestions you have for what more I should include below.</p>
      <h5>Why & How</h5>
      <p>I'm building this site to help you and I become better learners and more well-rounded people.</p>
      <p>The courses will try to address the problem of MOOCs having abysmal completion rates. And I really hope that the engaging format I am aiming for will be adoopted across the industry even if it means there will be people doing it better than me. If anything, I really hope there is someone out there who does it better than me so I can learn from them.</p>
      <p>The book club was created out of a more selfish reason. I wanted to discuss books with a group of people. And I'm sure you would agree that you get more out of a book when you talk about it with others.</p>
      <p>I will be posting my favourite learning resources so that others don't waste their time searching. I was also thinking of including an Anti Resources section dedicated to ineffective resources so people avoid them, what do you think?</p>
      <p>The podcast is also for me. I wanted to talk to people who have unique insights and interesting things to share and this is the perfect platform to do that. Hopefully you will enjoy the talks I have and be inspired to go down new rabbit holes or even start your own podcast.</p>
      <p>Some of you will of course wonder if I am qualified to be teaching at such a young age.</p>
      <p>Here's 2 things I will brag about that hopefully will make you trust me more as an educator and curator:</p>
        <ul>
          <li>I've written over 200 academic essays as a professional writer in the past 6 years touching on almost every topic of the humanities and social science.</li>
          <li>I skipped 2 grades.</li>
        </ul>
      <h5>As for the name</h5>
      <p>The latin 'periculum' translates to 'danger' and 'risks'.</p>
      <p>Some may wonder why I would name an online learning platform after those words, but I think its apt.</p>
      <p>I heard Jordan Peterson once say to become dangerous, in order to protect yourself from those more dangerous than yourself. By developing a passion for learning one can become extremely dangerous in many different facets of life.
      So I googled the latin word for danger, and I came across the word 'periculum'. Which I immediately knew was what I had to call this project.</p>
      <p>And some post-hoc significance:</p>
      <ul>
        <li>My ethnic background is Persian.</li>
        <li>My friends and I use the slang 'per' as a substitute for other slang like 'sick', 'dope', 'sweet'.</li>
        <li>'Per(curr)iculum'.</li>
      </ul>
    </div>
  </div>
</div>
