<div class="aboutpage">
      <h1>About</h1>
      <h5>Who</h5>
      <p>Bardia Pourvakil.</p>
      <p>Born August 11, 1995</p>
      <p>Living in Toronto, Canada.</p>
      <p>Studied bioarchaeological anthropology at Western University and entrepreneurship at Universitat Autònoma de Barcelona.</p>

      <p>What I'm fascinated by right now:</p>
        <ul>
          <li>Complex Systems</li>
          <li>Philosophy</li>
          <li>Evolution</li>
          <li>Metalearning</li>
          <li>Blockchain</li>
          <li>Augmented Reality</li>
          <li>Machine Learning</li>
        </ul>
      <h5>What</h5>
      <p>I hope for The Periculum to be a platform where learners of all levels come to enrich their brains with knowledge, skills, and tools for learning more effectively and efficiently.</p>
      <p>This site will evolve over time but for now you can expect bi-weekly podcasts, weekly essays, a monthly book club and courses.</p>
      <p>Please add any suggestions you have for what more I should include below.</p>
      <h5>Why & How</h5>
      <p>I'm building this site to help you and I become better learners and more well-rounded people.</p>
      <p>The courses will try to address the problem of MOOCs having abysmal completion rates. And I really hope that the engaging format I am aiming for will be adopted across the industry even if it means there will be people doing it better than me. If anything, I really hope there is someone out there who does it better than me so I can learn from them.</p>
      <p>The book club was created out of a more selfish reason. I wanted to discuss books with a group of people. And I'm sure you would agree that you get more out of a book when you talk about it with others.</p>
      <p>I will be posting my favourite learning resources so that others don't waste their time searching. I was also thinking of including an Anti Resources section dedicated to ineffective resources so people avoid them, what do you think?</p>
      <p>The podcast is also for me. I wanted to talk to people who have unique insights and interesting things to share and this is the perfect platform to do that. Hopefully you will enjoy the talks I have and be inspired to go down new rabbit holes or even start your own podcast.</p>

      <p>Some of you will, of course, wonder if I am qualified to be teaching at such a young age. </p>
      <p>Here's three things for people that care more about meaningless accomplishments that hopefully will make you trust me more as an educator and curator:</p>
        <ul>
          <li>I've written over 200 academic essays as a professional writer in the past 6 years touching on almost every topic of the humanities and social science</li>
          <li>I skipped two grades</li>
          <li>I scored in the 98th percentile on the LSAT and could have gone to any law school of my choosing, but I decided to do this instead. (Yeah, I know I'm crazy, but there's *some* method to the madness. I swear)</li>
        </ul>

      <h5>As for the name</h5>
      <p>The latin 'periculum' translates to 'danger' and 'risks'. Two things lacking in formal education. Facing danger and risks is the only way to grow so I thought it was apt, plus the name sounded cool to me.</p>
      <p>I added some significance post-hoc as well. The prefix 'per' which comes from the slang 'per-' my friends and I use as a substitute for other slang like 'sick', 'dope', 'sweet'. And the root 'iculum' comes from 'curriculum'.</p>
      <h5>Skills I'll be developing through this project</h5>
<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
  <div class="mdl-tabs__tab-bar">
      <a href="#general-panel" class="mdl-tabs__tab is-active">General</a>
      <a href="#podcasts-panel" class="mdl-tabs__tab">Podcasts</a>
      <a href="#essays-panel" class="mdl-tabs__tab">Essays</a>
      <a href="#school-panel" class="mdl-tabs__tab">School</a>
      <a href="#bookclub-panel" class="mdl-tabs__tab">BookClub</a>
      <a href="#resources-panel" class="mdl-tabs__tab">Resources</a>
  </div>

  <div class="mdl-tabs__panel is-active" id="general-panel">
    <ul class="demo-list-item mdl-list">
      <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">Sales</span></li>
      <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">Design</span></li>
      <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">Discipline</span></li>
      <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">Metalearning</span></li>
      <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">Mental Models</span></li>
      <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">Systems</span></li>
      <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">Budgeting</span></li>
      <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">Accounting</span></li>
      <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">Marketing</span></li>
      <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">Software Engineering</span></li>
  </ul>
</div>
  <div class="mdl-tabs__panel" id="podcasts-panel">
    <ul class="demo-list-item mdl-list">
      <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">Listening</span></li>
      <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">Networking</span></li>
      <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">Public Speaking</span></li>
      <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">Audio Production</span></li>
      <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">Asking Questions</span></li>
  </ul>
  </div>
  <div class="mdl-tabs__panel" id="essays-panel">
    <ul class="demo-list-item mdl-list">
      <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">Reading</span></li>
      <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">Writing</span></li>
      <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">Research</span></li>
  </ul>
  </div>
  <div class="mdl-tabs__panel" id="school-panel">
    <ul class="demo-list-item mdl-list">
      <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">Memory</span></li>
      <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">Reading</span></li>
      <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">Writing</span></li>
      <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">Teaching</span></li>
      <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">Public Speaking</span></li>
      <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">Video Production</span></li>
      <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">Writing</span></li>
  </ul>
</div>
<div class="mdl-tabs__panel" id="bookclub-panel">
  <ul class="demo-list-item mdl-list">
    <li class="mdl-list__item">
  <span class="mdl-list__item-primary-content">Memory</span></li>
    <li class="mdl-list__item">
  <span class="mdl-list__item-primary-content">Reading</span></li>
    <li class="mdl-list__item">
  <span class="mdl-list__item-primary-content">Writing</span></li>
    <li class="mdl-list__item">
  <span class="mdl-list__item-primary-content">Creativity</span></li>
    <li class="mdl-list__item">
  <span class="mdl-list__item-primary-content">Community Building</span></li>
    <li class="mdl-list__item">
</div>
<div class="mdl-tabs__panel" id="resources-panel">
  <ul class="demo-list-item mdl-list">
    <li class="mdl-list__item">
  <span class="mdl-list__item-primary-content">Research</span></li>
    <li class="mdl-list__item">
  <span class="mdl-list__item-primary-content">Curation</span></li>
    <li class="mdl-list__item">
</div>
</div>
    </div>
