<% if user_signed_in? == false%>
  <%= render 'homeheader' %>
<% end %>
<%= render 'navheader' %>

<div class="container writing">

<h1>Current Book</h1>
  <%#= render 'books/1' %>

  <h1>Latest Podcast</h1>
  <%#= render 'podcasts/1' %>

  <h1>Coming Soon</h1>
    <h2>Courses</h2>
      <p>Learn how to learn, read, and write. Cryptocurrency prizes.</p>
    <h2>Essays</h2>
      <p>My thoughts on whatever I find interesting.</p>
    <h2>Resources</h2>
      <p>My favorite books, podcasts, blogs, essays, MOOCs, and products.</p>
=
</div>
