<p>
  <strong>Commenter:</strong>
  <%= bookcomment.commenter %>
</p>

<p>
  <strong>Comment:</strong>
  <%= bookcomment.body %>
</p>

<p>
  <%= link_to 'Destroy Comment', [bookcomment.section, bookcomment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>
