/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'material';
@import "font-awesome-sprockets";
@import "font-awesome";


/* Coolors Exported Palette - coolors.co/2d232e-4a4e69-9a8c98-c9ada7-f2e9e4 */

/* HSL */
$purple: hsla(295%, 14%, 16%, 1);
$blue: hsla(232%, 17%, 35%, 1);
$grey: hsla(309%, 6%, 58%, 1);
$pink: hsla(11%, 24%, 72%, 1);
$cream: hsla(21%, 35%, 92%, 1);

/* RGB */
$purple: rgba(45, 35, 46, 1);
$blue: rgba(74, 78, 105, 1);
$grey: rgba(154, 140, 152, 1);
$pink: rgba(201, 173, 167, 1);
$cream: rgba(242, 233, 228, 1);


@-ms-viewport{
  width: device-width;
}

.aboutpage {
  padding: 60px;
}

.mdl-layout__content {
  background-color: #F5F5F5;
}

.mdl-layout__header {
  background-color: #212121 !important;
}

.homepage {
  text-align: center;
}

footer {
  background-color: #212121 !important;
}


.demo-card-event.mdl-card {
  width: 256px;
  height: 256px;
  background: #673AB7;
}
.demo-card-event > .mdl-card__actions {
  border-color: rgba(255, 255, 255, 0.2);
}
.demo-card-event > .mdl-card__title {
  align-items: flex-start;
}
.demo-card-event > .mdl-card__title > h4 {
  margin-top: 0;
}
.demo-card-event > .mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}
.demo-card-event > .mdl-card__actions > .material-icons {
  padding-right: 10px;
}
.demo-card-event > .mdl-card__title,
.demo-card-event > .mdl-card__actions,
.demo-card-event > .mdl-card__actions > .mdl-button {
  color: #fff;
}

.mdl-layout-title {
  max-width: 50px;
}

.demo-card-square.mdl-card {
  width: 320px;
  height: 320px;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  //background: bottom right 15% no-repeat #FF6F59;

}

.homepage {
  margin: 10px;
  justify-content: center;

}

.demo-card-image.mdl-card {
  width: 256px;
  height: 256px;
  background: url('app/assets/images/image_card.jpg') center / cover;
}
.demo-card-image > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}
.demo-card-image__filename {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

#profilecard {
min-height: 0;}
