/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

h1, h2, h3 {
  font-family: 'Cardo', serif;

}

body {
  padding-top: 80px;
  background-color: #faf5ea;
}

.navbar, .home-callout {
  background: #0E4999;
}

.home-callout > h1 {
  color: #e2c077;
}



.writing {
  max-width: 750px;
  padding: 50px;
}

.navbar {
  border: none;
  min-height: 65px;
}

.home-callout {
  margin-top: -30px;
  padding-top: 125px;
  padding-bottom: 125px;
  color: white;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a
 {
  color: #faf5ea;
  font-size: 14px;
  &:hover {
    color: #e2c077;
  }
  }
  .navbar-default .navbar-nav > li > a {
    padding-top: 22px;
  }

.navbar-default .navbar-toggle {
  border: 2px solid #faf5ea;
  &:hover, &:focus {
    background-color: #e2c077;
  }
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #faf5ea;

}

  .mainlogo {
    height: 300px;
    width: auto;
  }

  .minilogo {
    height: 40px;
    width: auto;

  }
