/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

h1, h2, h3 {
  font-family: 'Cardo', serif;
  text-align: center;
}

.signupform {
  font-family: 'Cardo', serif;
}

body {
  background-color: #faf5ea;
}

.navbar, .home-callout {
  background: #0E4999;
}

.home-callout > .logos > h1 {
  color: #e2c077;
}

#sticky.stick {
    margin-top: 0 !important;
    position: fixed;
    top: 0;
    z-index: 10000;
  }


#navigationbar {
  font-family: 'Cardo', serif;
  font-size: 20px;
  text-align: center;
  min-height: 7.5%;
  background-color: #0E4999;
}

#logo {
    display: block;
    margin: 0 auto;
}


.navlinks {
  color: #e2c077;
  padding-right: 5px;
  padding-left: 5px;
  text-align: center;
  vertical-align: middle;
  &:hover {
    text-decoration: none;
    color: #d3a039;
  }
}
#sticky {
  min-height: 7.5%;
  background-color: #0E4999;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 2px;
}

.writing {
  max-width: 750px;
  padding: 50px;
  text-align: justify;
}


.home-callout {
  color: white;
  height: 100%;
  padding-top: 100px;
  padding-bottom: 50px;
  min-height: 100%;
}

  .mainlogo {
    height: 300px;
    width: auto;
  }

  .minilogo {
    height: 40px;
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 5px;
  }

  .alert-notice {
  display: none;
}


.loginsignup {
  padding-bottom: 10px;
}
